@media all and (min-width: 320px) and (max-width: 574px){
    .first{
        display: none;
    }
    .second{
        display: block;
        margin-left: 5px;
        margin-right: 10px;
        line-height: 22px;
}
    }
    input[name="articleTitle"]{
        width: 100%;
    }
    .second select[name="headings"]{
        width: 100%;
    }    
}