@media all and (min-width: 721px) and (max-width: 1060px){
    h1,
    .footer{
        background-color: red;
    }
    .menu{
        float:none;
    }
    .menuBg{
        background-color: lightcoral;
    }
    .content{
        margin-left: 0;
    }
    .content > h2{
        padding-bottom: 10px;
        color: blueviolet;
    }
    .content p{
        color: slateblue;
    }
    .content h2 + div{
        float: none;     
    }
    .content h2 + div img{
        width: 100%;
        
    }
    
}
@media all and (min-width: 320px) and (max-width: 720px){
    h1,
    .footer{
        background-color: orange;
    }
    .menu{
        float:none;
        display: inline;
    }
    .menuBg{
        background-color: darkorange;
    }
    .content{
        margin-left: 0;
    }
    .content > h2{
        padding-bottom: 10px;
        color: brown;
    }
    .content p{
        color: orangered;
    }
    .content h2 + div{
        float: none;     
    }
    .content h2 + div img{
        width: 100%;
        
    }
    