*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1,h2{
    text-align: center;
}
.menuBg{
    background-color: #F0E68C;
}
.menu {
    width: 250px;
    float: left;
    padding: 10px;
}
.content{
    margin-left: 250px;            
    padding: 10px;
    text-indent: 1.5em;
    background: url(../img/theBall.gif) no-repeat right top;
    background-repeat: repeat-y;
    background-color: #ffffff;
}
.imageLeft{
    float: left;
}
.footer{
    background-color: #ADD8E6;
}