@media all and (max-width: 1360px){
    .container{
        width: 760px;
    }
}
.catalog div h3{
    font-size: 30px;
}
.catalog div{
    width: 379px;
}
.catalog > div{
    width: 100%;
    background-size: cover;
    margin-bottom: 10px;
}
.catalog1Right > div:first-child,
.catalog1Right > div:last-child{
    background-size: cover;
}